/* cái này là phần menu */
/* menu */
:root{
  --gradient:linear-gradient(90deg, #f1c40f, #f39c12);
}

*{
  font-family: 'Open Sans', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  border:none; outline: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .2s linear;
}

*::selection{
  background:#f39c12;
  color:#fff;
}

html{
  font-size: 62.5%;
   overflow-x: hidden;
}

html::-webkit-scrollbar{
  width:1.5rem;
}

html::-webkit-scrollbar-track{
  background:#333;
}

html::-webkit-scrollbar-thumb{
  background:linear-gradient(#f1c40f, #f39c12);
}

section{
  min-height: 100vh;
  padding:1rem 7%;
  padding-top:6rem;
}

.heading{
  color:#444;
  padding:1rem;
  font-size: 4rem;
  text-align: center;
}

header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top:0; left: 0;
  z-index: 1000;
  padding:1.5rem 7%;
  background:var(--gradient);
  box-shadow: 0 .1rem .3rem rgba(238, 238, 238, 0.3);
}
header .navbar ul{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

header .logo{
  color:#fff;
  font-size: 2.5rem;
}
header .navbar ul li{
  margin:0 1rem;
  display: flex;
}

header .navbar ul li a{
  font-size: 2rem;
  color:#fff;
}

header .navbar ul li a.active,
header .navbar ul li a:hover{
  color:#444;
}

header #login{
  font-size: 3rem;
  color:white;
  cursor: pointer;
}

header #login:hover{
  color:rgb(0, 0, 0);
}

/* đã xong phần hình anh menu */
/* hiệu ứng menu */
*{
  margin: 0;
  padding: 0;
}
.nav-background{
  display: none;
  /* bật lên  */
  
  position: fixed;
  background-color: black;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: TTB ease 1s;
}
.col-9{
  position: relative;
}
.close{
  font-size: 30px;
  position: absolute;
  top: 5%;
  right: 5%;
  opacity: 0.7;
}
.close:hover{
  opacity: 1;
  cursor: pointer;
}
.nav-background div h1{
  margin-left: 50px;
  color: white;
  height: 60px;
  opacity: 0.7;
}
.nav-background div h1:hover{
  cursor: pointer;
  opacity: 1;
  border-bottom: 1px solid white;
}
.nav-background .col-3{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.nav-background .col-3::after{
  content: "";
  height: 100%;
  width: 5px;
  right: 10px;
  position: absolute;
  background-color: white;
  opacity: 0.2;
}
.nav-background .col-3 div{
  padding: 10px 20px;
}
.nav-background .col-9{
  display: flex;
  align-items: center;
}
.col-3 i{
  font-size: 30px;
  opacity: 0.8;
}
.col-9 ul{
  animation: LTR ease 1s;
  display: none;
}
li{
  list-style-type: none;
  font-size: 26px;
  color: white;
}

ul p{
  font: 24px;
  width: 500px;
}

@keyframes LTR {
from{
  opacity: 0;
  transform: translateX(-30px);
}
to{
  opacity: 1;
  transform: translateX(0px);
}
}
@keyframes TTB {
from{
  opacity: 0;
}
to{
  opacity: 1;
}
}
.close{
  margin-top: 60px;
}
@media (max-width:768px){

  html{
      font-size: 55%;
  }

  header #menu{
      display: block;
  }

  header .navbar{
      /* position: fixed; */
      top:-120%; left:0;
      width:100%;
      background:#444;
  }

  header .navbar ul{
      flex-flow: column;
      padding:2rem 0;
  }

  header .navbar ul li{
      margin:1.5rem 0;
      text-align: center;
      width:100%;
  }

  header .navbar ul li a{
      font-size: 2.5rem;
      /* display: block; */
  }

  header .navbar ul li a.active,
  header .navbar ul li a:hover{
      color:#f39c12;
  }

  .fa-times{
      transform: rotate(180deg);
  }

  header .navbar.nav-toggle{
      top:6.4rem;
  }

  .home h1{
      font-size: 4rem;
  }

  .home p{
      width: auto;
  }

  .teacher p{
      width:auto;
  }

  .contact .row .image{
      display: none;
  }

}

@media (max-width:500px){

  html{
      font-size: 50%;
  }

  .contact .row form .box{
      width:100%;
  }

}
/* kết thuc hiệu ứng */
/* .mycard{
margin-top: 40px;
}
.card-title{
  font-size: 20px;
} */
.back-to-top {
  background-color: black;
    position: fixed;
    bottom: 25px;
    right: 200px;
    display: none;
}
/* .than{
  background-color: #fff;
  width: 100%;
} */